<ion-header class="ion-no-border">

  <ion-toolbar class="ion-text-center">
    <ion-title>Sistema Financeiro</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>

      <ion-row>
        <ion-col><ion-icon name="chevron-back-outline"></ion-icon></ion-col>
        <ion-col><ion-text>Fevereiro <b>2022</b></ion-text></ion-col>
        <ion-col><ion-icon name="chevron-forward-outline"></ion-icon></ion-col>
      </ion-row>

      <ion-row>
        <ion-text>Saldo em Contas</ion-text>
      </ion-row>

      <ion-row>
        <ion-text>R$ 20.000,00</ion-text>
      </ion-row>

      <ion-row>
        <ion-text></ion-text>
      </ion-row>

      <ion-row class="ion-padding">
        <div class="blocoA">
          <img src="../../../assets/icon/receita.png" (click)="onAvancarMes()" />
          <ion-col>
            <ion-row>
              <ion-text>R$ 10.000,00</ion-text>
            </ion-row>
            <ion-label>Receitas</ion-label>
          </ion-col>
        </div>
        <div class="blocoB">
          <img src="../../../assets/icon/despesa.png" (click)="onRetornarMes()" />
          <ion-col>
            <ion-row>
              <ion-text>R$ 10.000,00</ion-text>
            </ion-row>
            <ion-label>Despesas</ion-label>
          </ion-col>
        </div>
      </ion-row>

    </ion-grid>

    <div class="cabecalho ion-padding">
      <b>Movimentação</b>
      <ion-icon name="filter-outline"></ion-icon>
    </div>

    <div class="cabecalho ion-padding">
      <b>Cartões Bancários</b>
      <ion-icon name="filter-outline"></ion-icon>
    </div>

</ion-content>
